body{
background-color:#89BE44;
font-family:Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 4vmin;
}

#menu button{
	width:150px;
	height:25px;
	background-color:#97cfc3;
	margin-top: 5px;
}

textarea {
  overflow: auto;
  resize: none;
  outline: none;
  border: 1px solid #888; 
  margin-left: 10px;
}

